*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2 .dull{
    display: block;
    font-size: 3.6vw;
    color: #e5e5e5;
    font-family: 'Abel';
    letter-spacing: 10px;
    font-weight: normal;
}

h2 .dark{
    display: block;
    font-size: 5.7vw;
    color: #444343;
    font-family: 'Abel';
    letter-spacing: 10px;
    font-weight: normal;
    line-height: 1;
}

h2{
    margin-bottom: 50px;
    position: relative;
    text-transform: uppercase;
}

h2:after{
    content: "";
    width: 65px;
    height: 2px;
    background-color: lightcoral;
    position: absolute;
    left: 0px;
    bottom: -24px;
}

.button{
    padding: 15px 20px;
    background: transparent;
    border: 3px solid lightcoral;
    color: lightcoral;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.button:hover{
    border: 3px solid #444343;
    color: #444343;
}

p{
    color: #7d7d7d;
}

.child-li-wrapper a:hover{
    color: lightcoral !important;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.container{
    max-width: 1280px;
    margin: auto;
}

section, header{
    margin-bottom: 90px;
}

/*  Header Section CSS START  */
#main_header{
    background-image: url('../images/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    padding: 60px 15px 0 15px;
}

#main_header .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

#main_header .header-nav{
    cursor: pointer;
}

#main_header .bar-button{
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

#main_header .bar-button .fa-bars{
    font-size: 30px;
    color: white;
}

#main_header .navigation ul{
    display: flex;
}

#main_header .navigation ul .li-item-parent{
    margin-right: 40px;
    list-style: none;
    position: relative;
}

#main_header .navigation ul .li-item-parent:last-child{
    margin-right: 0;
}

#main_header .navigation ul .li-item-parent a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#main_header .navigation ul li .child-li-wrapper{
    position: absolute;
    top: 20px;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    display: none;
}

#main_header .navigation ul .li-item-parent:hover .child-li-wrapper{
    display: block;
}

#main_header .navigation ul li .child-li-wrapper li{
    list-style: none;
    width: max-content;
    margin-bottom: 20px;
}

#main_header .navigation ul li .child-li-wrapper li:hover a{
    color: tomato;
}

#main_header .navigation ul li .child-li-wrapper li:last-child{
    margin-bottom: 0;
}

#main_header .navigation ul li .child-li-wrapper a{
    color: #454545;
}

#main_header .header-title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_header h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 60px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
}

#main_header h1 .top{
    opacity: 0.4;
}

@media screen and (max-width:1100px){
    #main_header .navigation{
        display: none;
    }

    #main_header .bar-button{
        display: block;
    }
}

@media screen and (max-width:900px){
    #main_header .header-title{
        font-size: inherit;
    }
}

@media screen and (max-width:700px){
    #main_header h1{
        letter-spacing: 30px;
    }

    #main_header .header-title{
        font-size: 10px;
    }
}

/*  Header Section CSS END  */

/*  Footer Section CSS Start  */

#main_footer{
    background-image: url('../images/footer-backgroun.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 60px 15px 0 15px;
}

#main_footer .container{
    padding: 50px 70px;
}

#main_footer .contact-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main_footer .contact-form .heading{
    color: white;
    font-size: 45px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 10px;
}

#main_footer .contact-form form{
    width: 100%;
    text-align: right;
    max-width: 500px;
}

#main_footer .contact-form input{
    padding: 15px 20px;
    background: transparent;
    border: 3px solid white;
    color: white;
    cursor: pointer;
}

#main_footer .contact-form .submit-button:hover{
    background-color: lightcoral;
}

#main_footer .contact-form .email{
    margin-right: 10px;
    max-width: 350px;
    width: 100%;
}

#main_footer .contact-form input::placeholder{
    color: white;
}

#main_footer .row-1{
    margin-bottom: 50px;
}

#main_footer .row-2{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#main_footer .row-2 .column{
    flex: 1;
    min-width: 227px;
    width: 100%;
    margin-bottom: 30px !important;
}

#main_footer .row-2 .column-2{
    margin: 0 80px;
}

#main_footer .row-2 .column .heading{
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#main_footer .row-2 .column-1 .brief-info{
    color: white;
    font-family: 'Roboto', sans-serif;
}

#main_footer .row-2 .column-1 .logo{
    cursor: pointer;
}

#main_footer .links ul{
    list-style: none;
    list-style: none;
}

#main_footer p{
    color: white;
}

#main_footer .links ul li{
    margin-bottom: 10px;
}

#main_footer .links ul a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#main_footer .links ul a i{
    float: right;
}

#main_footer .row-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main_footer .row-3 .copy-rights{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

#main_footer .row-3 nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

#main_footer .row-3 nav ul li{
    margin-right: 20px;
    margin-bottom: 10px;
}

#main_footer .row-3 nav ul li:last-child{
    margin-right: 0;
}

#main_footer .row-3 nav ul li a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 784px){
    #main_footer .row-2 .column-2{
        margin-left: 0;
        margin-right: 0;
    }

    #main_footer .row-2 .column{
        flex: initial;
    }
}

@media screen and (max-width: 668px){
    #main_footer .contact-form form{
        text-align: left;
    }

    #main_footer .contact-form .email{
        margin-bottom: 20px;
    }

    #main_footer .contact-form .heading{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px){
    #main_footer .container{
        padding-left: 0;
        padding-right: 0;
    }
}
/*  Footer Section CSS END  */

/*  About Us Section CSS Start  */
#about_us .left-side{
    max-width: 400px;
    height: 440px;
    flex: 1;
    min-width: 400px;
}

#about_us .container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 90px;
}

#about_us .left-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about_us .right-side{
    flex: 1;
    margin-left: 35px;
    min-width: 507px;
}

#about_us .right-side p{
    margin-bottom: 40px;
}

@media screen and (max-width: 1122px){
    #about_us .left-side{
        max-width: initial;
        height: 250px;
        flex: 1;
        min-width: 400px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px){
    #about_us .container{
        display: inherit;
        padding: 0 15px;
    }

    #about_us .left-side{
        min-width: initial;
    }

    #about_us .right-side{
        min-width: inherit;
        margin-left: 0;
    }
}
/*  About Us Section CSS END  */

/* Feature Posts Section Start */
#feature_posts .img{
    max-width: 320px;
    max-height: 220px;
    margin-bottom: 20px;
    position: relative;
}

#feature_posts .img .layout{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(240, 128, 128, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear;
}

#feature_posts .img .layout i{
    color: white;
    font-size: 60px;
    transform: scale(0);
    transition: all 0.3s linear;
}

#feature_posts .img:hover .layout{
    opacity: 1;
}


#feature_posts .img:hover i{
    transform: scale(1);
}

#feature_posts{
    padding: 0 90px;
}

#feature_posts .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#feature_posts .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature_posts .row-item{
    margin-bottom: 30px;
}

#feature_posts .info h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #444343;
}

#feature_posts .info a{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    color: lightcoral;
    text-decoration: none;
}

#feature_posts .info a i{
    margin-left: 10px;
    font-size: 13px;
}


/* Feature Posts Section End */

/* Category Choose Section Start */
#category_choose{
    background-image: url(../images/new-img-8-vag-copyright.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 0 90px;
}

#category_choose .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

#category_choose .container .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#category_choose h2{
    margin-bottom: 80px;
}

#category_choose h2 .dull{
    color: rgba(255, 255, 255, 0.301);
}

#category_choose h2::after{
    background-color: white;
}

#category_choose h2 .dark{
    color: white;
}

#category_choose .row a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 20px;
}

#category_choose .row a h4{
    font-weight: normal;
    font-size: 35px;
    text-decoration: none;
    letter-spacing: 2px;
}

#category_choose .row a .fa-th-large{
    font-size: 80px;
    margin-bottom: 10px;
}

#category_choose .row a .fa-arrow-right{
    margin-left: 10px;
}

#category_choose .row a span{
    letter-spacing: 2px;
}
/* Category Choose Section End */